p {
	color: purple;
	font-family: Courier;
	font-size: 24px;
}

/*span {
	color: blue;
	font-family: cursive;
	background-color: yellow;
}*/

h3 {
	color: #FFC125;
	font-family: Vivaldi, Cursive;
}

h1 {
	font-family: Times, Serif, Verdana;
	color: #8B1C62;
}

h2 {
	font-family?: Verdana, Sans-serif;
	color: #FF7256;
}

h4 {
	color: #54FF9F;
}

h5 {
	color: #530EE8;
}

h6 {
	color: #8B668B;
}

div {
  background-color: #cc0000;
  height: 100px;
  width: 100px;
}
/*Borda da Insanidade*/

td {
 height: 50px;
 border:  1px dashed blue; 
}

table {
 border: 1px solid black;   
}

a  {
 color: #cc0000;
 text-decoration: none;
}
/*Criando botão para website*/
div {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: #BCD2EE;
	height: 50px;
	width: 120px;
	margin: auto;
	text-align: center;
}

a {
	text-decoration: none;
	color: #3D59AB;
	font-family: Verdana, sans-serif;
}

span {
	font-weight: bold;
	font-size: 18px;
	color: #ffffff;
}

div h3 {
	color: red;
}

/*Colocando borda em tudo*/
* {
 border: 2px dashed #3A5FCD;   
}

div {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: #BCD2EE;
	height: 18px;
	text-align: center;
	font-family: Garamond, serif;
}

#p1 {
	display: inline;
	position: relative;
	margin-left: 138px;
}

#p2 {
	display: inline;
	position: relative;
	margin-left: 10px;
}

#p3 {
	display: inline;
	position: relative;
	margin-left: 10px;
}

#div {
	display: inline;
	position: relative;
	margin-left: 70px;
	margin-top: 10px;
}

#title {
	display: inline;
	position: relative;
	margin-left: 50px;
}

#body {
	display: inline;
	position: relative;
	margin-left: 25px;
}

#head {
	display: inline;
	position: relative;
	margin-left: 65px;
}

#html {
	width: 50px;
	position: relative;
	margin-left: 93px;
}

/*Com opacidade 0, vira apenas um espaço vazio, com cor igual ao do background*/
.space {
	opacity: 0;
}

/*Só pega os parágrafos imediatos à body, só submissos a body, não dentro de outro*/
body > p {
 font-weight: bold;   
}
