p {
	color: purple;
	font-family: Courier;
	font-size: 24px;
}

/*span {
	color: blue;
	font-family: cursive;
	background-color: yellow;
}*/

h3 {
	color: #FFC125;
	font-family: Vivaldi, Cursive;
}

h1 {
	font-family: Times, Serif, Verdana;
	color: #8B1C62;
}

h2 {
	font-family?: Verdana, Sans-serif;
	color: #FF7256;
}

h4 {
	color: #54FF9F;
}

h5 {
	color: #530EE8;
}

h6 {
	color: #8B668B;
}

div {
  background-color: #cc0000;
  height: 100px;
  width: 100px;
}
/*Borda da Insanidade*/

td {
 height: 50px;
 border:  1px dashed blue; 
}

table {
 border: 1px solid black;   
}
