p {
	color: purple;
	font-family: Courier;
	font-size: 24px;
}

/*span {
	color: blue;
	font-family: cursive;
	background-color: yellow;
}*/

h3 {
	color: #FFC125;
	font-family: Cursive;
}

h1 {
	font-family: Serif, Verdana;
	color: #8B1C62;
}

h2 {
	font-family?: Sans-serif;
	color: #FF7256;
}

h4 {
	color: #54FF9F;
}

h5 {
	color: #530EE8;
}

h6 {
	color: #8B668B;
}
